* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 30px;
  background-color: lightgray;
}

.pokemon {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
}

.pokemon:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}