* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 30px;
  background-color: lightcoral;
}

.pokemon {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  background-color: #f54444;
  border: 1px solid #ccc;
}

.pokemon:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}


footer > .container{
  background-color: #b9452b;
}


#sub-footer{
  background-color: #a1432d;
}
